header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: -40px;
  border-bottom: 1px solid #000000;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
}

header nav ul li {
  list-style: none;
}
header nav ul li span {
  position: relative;
  top: 5px;
  font-weight: bold;
  font-size: 20px;
}

header nav ul li a {
  position: relative;
  top: 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

header nav ul li a:hover {
  color: red;
}

header h1 a {
  position: relative;
  top: 15px;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.deal {
  color: red;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

.inventionList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card a {
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.card img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.cost h4 {
  margin: 2px;
}

.stock {
  color: rgb(78, 78, 78);
  font-style: italic;
}

.cost button {
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.cost button:hover {
  background-color: red;
}

.detailsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.back {
  width: 100%;
}

.back a {
  color: #000000;
  text-align: left;
  text-decoration: none;
}

.back a:hover {
  text-decoration: underline;
}

.detailsCard h2 {
  position: relative;
  bottom: 40px;
}

.detailsCard h3 {
  margin: 0px;
}

.center {
  text-align: center;
  margin: 0px 150px 0px 150px;
}

.detailsCard img {
  height: 300px;
  width: 400px;
  border-radius: 10px;
}

.detailsCost {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 200px;
  width: 100%;
}

.detailsCost h4 {
  margin: 2px;
}

.detailsCost button {
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.detailsCost button:hover {
  background-color: red;
}

.historyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.historyCard h2 {
  position: relative;
  bottom: 40px;
}

.historyCard h3 {
  margin-left: 8px;
  font-size: 20px;
}

.historyDetails {
  margin: 5px;
}

.historyDetails img{
  height: 80px;
  width: 80px;
}

.historyDetails a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #000000;
  text-align: center;
  text-decoration: none;
  gap: 30px;
  padding-right: 10px;
  font-size: 20px;
}

.historyDetails a:hover{
  border: 1px solid #000000;
}

.loginCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.loginCard h2 {
  position: relative;
  bottom: 40px;
}

.loginCard form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  gap: 10px;
}

.loginInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.loginInput input {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 3px 8px 3px 8px;
  width: 170px;
}

.loginButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.loginButton button {
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.loginButton button:hover {
  background-color: red;
}

.loginButton a {
  color: #000000;
}

.loginButton a:hover {
  color: red;
  text-decoration: none;
}