.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 17%;
  max-height: 60%;
  background-color: white;
  overflow: auto;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-radius: 5px;
}

.cart h3 {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}

.cart h4 {
  text-align: center;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: #000000;
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 1%;
  right: 1%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart-closed img {
  height: 50px;
  width: 50px;
}

.cart img {
  height: 50px;
  width: 50px;
}

.cart input {
  width: 50px;
  padding: 0;
}

.trash:hover {
  cursor: pointer;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cartItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}

.checkoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkoutContainer button {
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.checkoutContainer button:hover {
  background-color: red;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cart {
    position: relative;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
  }

  .cart-closed {
    position: relative;
    margin: 0 auto;
  }
}
